[build-system]
requires = ["hatchling>=1.5.0", "jupyterlab>=4.0.0,<5", "hatch-nodejs-version"]
build-backend = "hatchling.build"

[project]
name = "jupyterlab_pkm"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.8"
classifiers = [
    "Framework :: Jupyter",
    "Framework :: Jupyter :: JupyterLab",
    "Framework :: Jupyter :: JupyterLab :: 4",
    "Framework :: Jupyter :: JupyterLab :: Extensions",
    "Framework :: Jupyter :: JupyterLab :: Extensions :: Prebuilt",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dependencies = []
dynamic = ["version", "description", "authors", "keywords"]

[project.urls]
"Homepage" = "https://github.com/XLabCU/jupyterlab-pkm"
"Bug Tracker" = "https://github.com/XLabCU/jupyterlab-pkm/issues"
"Repository" = "https://github.com/XLabCU/jupyterlab-pkm"
"Documentation" = "https://github.com/XLabCU/jupyterlab-pkm#readme"

[tool.hatch.version]
source = "nodejs"

[tool.hatch.metadata.hooks.nodejs]
fields = ["description", "authors", "urls"]

[tool.hatch.build.targets.sdist]
artifacts = ["jupyterlab_pkm/labextension"]
exclude = [".github", "binder"]

[tool.hatch.build.targets.wheel.shared-data]
"jupyterlab_pkm/labextension" = "share/jupyter/labextensions/@jupyterlab/pkm-extension"
"install.json" = "share/jupyter/labextensions/@jupyterlab/pkm-extension/install.json"

[tool.hatch.build.targets.wheel.force-include]
"jupyterlab_pkm/labextension" = "share/jupyter/labextensions/@jupyterlab/pkm-extension"

[tool.hatch.build.hooks.version]
path = "jupyterlab_pkm/_version.py"

[tool.hatch.build.hooks.jupyter-builder]
dependencies = ["hatch-jupyter-builder>=0.5"]
build-function = "hatch_jupyter_builder.npm_builder"
ensured-targets = [
    "jupyterlab_pkm/labextension/package.json",
]

[tool.hatch.build.hooks.jupyter-builder.build-kwargs]
build_cmd = "build:prod"
npm = ["jlpm"]

[tool.hatch.build.hooks.jupyter-builder.editable-build-kwargs]
build_cmd = "install:extension"
npm = ["jlpm"]
source_dir = "src"
build_dir = "jupyterlab_pkm/labextension"

[tool.check-wheel-contents]
ignore = ["W002"]