[remotes]
collective = https://github.com/collective
collective_push = git@github.com:collective
plone = https://github.com/plone
plone_push = git@github.com:plone

# ==================
# Ecreall developers
# ==================
tdesvenain = https://github.com/tdesvenain
tdesvenain_push = git@github.com:tdesvenain
vincentfretin = https://github.com/vincentfretin
vincentfretin_push = git@github.com:vincentfretin
cedricmessiant = https://github.com/cedricmessiant
cedricmessiant_push = git@github.com:cedricmessiant

[sources]
