#map {
	background-color: #000000;
}

.ol-popup {
	border-radius: 1rem;
	padding: 1rem 2rem;
	border: 1px solid #4a4a4a;
	min-width: 200px;
	position: absolute;
	backdrop-filter: blur(10px) saturate(180%);
  }
