[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "linktools-setup"
description = "linktools toolkit"
requires-python = ">=3.6"
authors = [{name = "Hu Ji", email = "669898595@qq.com"}]
license = "Apache-2.0"
dependencies = ["pyyaml", "jinja2", "setuptools>=64.0.0,<77.0.0"]
dynamic = ["version"]

[project.urls]
Homepage = "https://github.com/linktools-toolkit/linktools-setup"
Repository = "https://github.com/linktools-toolkit/linktools-setup.git"

[project.entry-points."setuptools.finalize_distribution_options"]
linktools_setup = "linktools_setup.setup:finalize_distribution_options"

[tool.setuptools.packages.find]
where = ["src"]
include = ["linktools_setup*"]
